.loading {
	text-align: center; color: gray; margin-top: 10em;
}
#play-controls {
	margin: 0px auto; padding: 5px 0px 1em; text-align: center; min-width: 310px; max-width: 800px;
}
#play-controls * {
	vertical-align: middle; display: inline-block;
}
#play-pause-button {
	background: rgb(248, 248, 248); border-radius: 3px; border: 1px solid silver; width: 30px; height: 30px; text-align: center; font-size: 15px; cursor: pointer;
}
#play-range {
	margin: 2.5%; width: 70%;
}
#play-output {
	font-family: Arial, Helvetica, sans-serif;
}
